<div class="container">
  
    <!-- Main Content -->
    <div class="main-content">
      <!-- Left Section -->
      <div class="welcome-text">
        <h1>Welcome to the <br />detect+ Admin area</h1>
        <p><em>Generating registration keys</em></p>
      </div>
  
      <!-- Login Form -->
      <div class="background-image">
        <div class="login-card">
            <h2>Enter e-mail of requesting person</h2>
            <form (ngSubmit)="onSubmit()">
              <input type="text" placeholder="E-mail" 
                name="username"
                required
              />
              <button type="submit" class="login-btn">Submit</button>
            </form>
      </div>
      </div>
    </div>
  </div>
  